.tour-bundle-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
    font-family: 'Montserrat';
    align-items: center;
    height: 60px;
}
.tour-bundle-name
{
    font-size: 18px;
}
.tour-bundle-card:hover 
{
    background-color: #dbdbdb;
}
p, h4
{
    margin: 0;
    padding: 0;
}