.btn-cont{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.btn-con-loc{
  width: 15rem;
}

.mapapotvrda{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}