.example-card {
  max-width: 400px;
  background-color: #FAF8F3;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.club-overview-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}
.club
{
  margin: 0.25rem;
  margin-top: 1rem;
}
.example-card:hover
{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

mat-card-content
{
  margin-top: 1rem;
}

.card-image
{
  padding-left:10px;
  padding-right: 10px;
  border-radius: 3%;
}

mat-card-title {
  color: #315149;
  font-weight: bold;
  font-size: 1.2rem;
}

mat-card-subtitle {
  color: #5a5a5a;
  font-style: italic;
  font-size: 1.1rem;
}