<div class="notification-container">
  <h2 class="heading-secondary">Notifications</h2>
  <hr>

  <div class="notifications">
    <h3 *ngIf="notifications && (notifications | filter: { isRead: false }).length > 0">
      New notifications
    </h3>
    <div *ngFor="let notification of notifications">
      <p class="not" *ngIf="!notification.isRead">
        <span class="sender">
          {{ notification.message.includes(' followed you!') ? 'System:' : senderUsernames[notification.senderId] + ':' }}
        </span>
        {{ notification.message }}
        </p>
    </div>
    <hr *ngIf="notifications && (notifications | filter: { isRead: false }).length > 0">

    <h3 *ngIf="notifications && (notifications | filter: { isRead: true }).length > 0">
      Old notifications
    </h3>
    <div *ngFor="let notification of notifications">
      <p class="not" *ngIf="notification.isRead"> 
        <span class="sender" *ngIf="senderUsernames[notification.senderId]">
          {{ notification.message.includes(' followed you!') ? 'System:' : senderUsernames[notification.senderId] + ':' }}
        </span>
        {{ notification.message }}
       </p>
    </div>
  </div>
  <div *ngIf="notifications.length == 0">
    <p class="not">You don't have notifications</p>
  </div>
</div>
