<div class="login-background">
    <form  (ngSubmit)="login()" class="login-form">
      <div>
        <label>Token</label>
        <input formControlName="username" type="text" />
        <label>New password</label>
        <input formControlName="password" type="password" />
        <button class="btn-login" type="submit">
          <span >Submit</span>
          <!-- <mat-spinner *ngIf="isDisabled" style="height: 20px;"></mat-spinner> -->
        </button>
        <p class="moreInfo">
        </p>
      </div>
    </form>
    <div toastContainer></div>
  </div>