<div class="main-container">
    <app-map></app-map>
        <div class="back-button-container">
            <button mat-raised-button  color="primary" (click)="goBack()"
                >&lt; Back</button>
        </div>
        
        <div class="checkpoints">
            <div class="checkpoint" *ngFor="let checkpoint of addedCheckpoints">
                <div class="left">
                    <p>Name: {{checkpoint.name}}</p>
                    <p>Latitude: {{checkpoint.latitude}}</p>
                    <p>Longitude: {{checkpoint.longitude}}</p>
                    <button mat-raised-button color="primary" (click)="onSelectedCheckpoint(checkpoint)">Select</button>
                </div>
            </div>
        </div>
        <div class="checkpoints">
            <div class="checkpoint" *ngFor="let checkpoint of selectedCheckpoints">
                <div class="left">
                    <p>Name: {{checkpoint.name}}</p>
                    <p>Latitude: {{checkpoint.latitude}}</p>
                    <p>Longitude: {{checkpoint.longitude}}</p>
                    <button mat-raised-button color="primary" style="background-color: #d73548;" (click)="onDeselectedCheckpoint(checkpoint)">Deselect</button>
                </div>
            </div>
        </div>
        <div *ngIf="showed">
        <div  *ngFor="let tour of tours" >
            <div class="card">
                <div class="card-header">
                  {{ tour.name }}
                </div>
                <div class="card-body">
                  <p>{{ tour.description }}</p>
                  <p>Distance: {{ tour.distance }} km</p>
                  <p>Price: ${{ tour.price }}</p>
                    <button mat-raised-button color="primary" (click)="addToCart(tour)">Add to cart</button>

                </div>
              </div>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="onCreateTour()">Create Tour</button>
    <div class="createForm" *ngIf="createOn">
        <div class="createContainer">
            
            <h1>Create tour</h1>
            <form class="example-form" [formGroup] = "tourForm">
                <div>
                    <mat-form-field>
                        <mat-label>Tour name</mat-label>
                        <input matInput formControlName = "name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName = "description"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Difficult</mat-label>
                        <select matNativeControl required formControlName = "difficult">
                        <option value="0">Easy</option>
                        <option value="1">Medium</option>
                        <option value="2">Hard</option>
                        </select>
                    </mat-form-field>
                </div>
            
                <div>
                    <mat-form-field>
                        <mat-label>Tags</mat-label>
                        <mat-select formControlName = "tags" multiple formControlName = "tags">
                        <mat-option *ngFor="let tag of allTags" [value]="tag">{{tag}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" class="submitContainer" (click) = "submitForm()">Sumbmit</button>
            </div>
                
                
            </form>
        </div>
        </div>
</div>