.touristclub-form-container
{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

h1{
    margin-left: 3.5rem;
}

hr{
    margin-top: -.7rem;
    margin-bottom: 2rem;
    width: 17rem;
}

.add-club-form
{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.choose-file-button
{
    width: 40%;
    margin-bottom: 2rem;
}
.submit-form-button
{
    width: 100%;
    height: 3rem;
    align-self: center;
}
.file-name {
    margin-left: 1rem; /* or whatever margin you require */
}

.custom-file-input {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .custom-file-input input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-file-input label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #315149;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .custom-file-input label:hover {
    background-color: #315149;
  }
  
  .custom-file-input input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .file-name {
    font-size: .75rem;
    color: #333;
  }